mlflow.db
mlartifacts/
models/
outputs/
data/train_phase1.csv
data/eval.csv
data/train_phase2.csv
sa-key.json
.env
.venv/
__pycache__/
*.pyc
.DS_Store

# Terraform
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform/
.terraform.lock.hcl

# Key pair
*.pem

